*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: #222222;
}
.header .logo{
    width: 200px;
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: #EEEEEE;
    line-height: 52px;
}
.header nav{
    width: 80%;
    font-size: 0;
    text-align: right;
}
.header nav a{
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    color: #EEEEEE;
    line-height: 52px;
}
.header nav a:hover{
    color: darkseagreen;
}

.banner img{
    width: 100%;
}


.about{
    padding: 10px 0 30px;
}
.title{
    margin: 20px 20px;
    text-align: center;
}
.title > div{
    border-bottom: black 3px solid;
    margin: 15px auto;
    width: 60%;
}

/* about item group*/
.item{
    border-radius: 10px;
    position: relative;
    padding: 60px 20px 10px;
    margin: 80px 20px 0;
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.3);
}
.item img{
    position: absolute;
    top: -60px;
    left: 10px;
    border-radius: 100px;
    border: 3px darkgrey solid;
}
.item h3{
    position: absolute;
    top: 10px;
    left: 150px;
    font-size: 1.6em;
}

/* blog item group*/
.blog-item img{
    display: block;
    width: 80%;
    margin: 20px auto;
}
.blog-item h3{
    font-size: 1.4em;
    border-bottom: 2px darkseagreen solid;
    text-align: center;
    width: 100px;
    margin: 20px auto;
}
.blog-item p{
    width: 80%;
    margin: auto;
}

/*project item group*/
.project{
    margin: 40px 0;
}
.project .item-group{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 10px;
}
.project-item{
    position: relative;
}
.project-item div{
    opacity: 1;
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    width: 100%;
    height: 98%;
    padding: 20px 10px;
    text-align: center;
    color: whitesmoke;
    background-color: rgba(0,0,0,.3);
    transition: opacity 0.5s ease-out;
}
.project-item h3{
    margin: 10px;
}
.project-item button{
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    background-color: transparent;
    transition:0.2s ease-out;
}

.project-item div:hover{
    opacity: 1;
}
.project-item button:hover{
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer{
    height: 200px;
    width: 100%;
    color: #EEEEEE;
    margin-top: 60px;
    line-height: 200px;
    text-align: center;
    background-color: #333;
}

@media screen and (min-width: 768px){
    .header, .banner, footer{
        min-width: 1400px;
        width: 100%;
    }
    .container{
        width: 1400px;
        margin: auto;
    }
    .item-group{
        display: flex;
    }
    .blog .item-group{
        display: flex;
        flex-direction: column;
    }
    .blog-item{
        display: flex;
        padding: 0 160px;
        /*border: green 1px solid;*/
    }
    .left{
        flex-direction: row-reverse;
    }
    .blog-item img{
        width: 40%;
    }
    .blog-item div{
        height: 100%;
        width: 60%;
        margin: auto;
    }
    .project-item div{
        opacity: 0;
        transition: opacity 0.5s ease-out;
    }
    .project-item div p{
        margin: 10px;
    }
    .project-item div:hover{
        opacity: 1;
    }

}